#right {
  position: absolute;
  right: 2%;
  font-size: 10pt;
}

span {
  color: red;
}

a {
  text-decoration: none;
}

#footer {
  position: absolute;
  bottom: 0;
}

.turn:hover{
  transform: scale(1.01);
  transform: rotate(180deg)
 }

 .example-spacer {
  flex: 1 1 auto;
}

#barTop,#footer{
  background-color: rgb(72, 133, 212);
  align-items: baseline;
  position:absolute;
}

#barTop{
  min-height: 10vh;
}

h1{
  color:wheat;
  padding: 1vh;
  font-size: 30pt;
}
h2{
 margin-left: 43%;
 margin-top: 5px;
 font-size: 20pt;
 color:white;
}

#footer h1::before{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Unofficial_Windows_logo_variant_-_2002%E2%80%932012_%28Multicolored%29.svg/1200px-Unofficial_Windows_logo_variant_-_2002%E2%80%932012_%28Multicolored%29.svg.png");
  background-size: 32px 32px ;
  display: inline-block;
  width: 32px;
  height: 32px;
  content:"";
  margin-right: 1vw;
}


#tabs{

padding-top: 5vh;
}


body{
  background-image: url("http://wallpoper.com/images/00/24/29/17/clouds-grass_00242917.jpg");
  background-size:cover;
}

leaderboard{
  min-height: 100vh;
  display: block;
}
