<body>
  <mat-toolbar id=barTop>
    <h2>DartTime Leaderboard</h2>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <mat-tab-group id=tabs  mat-align-tabs="center"  animationDuration="0ms" (selectedTabChange)="tabChanged($event)">
    <mat-tab  label="Easy">
      <leaderboard (commandEntered)="enterText($event)" [commands]="commands" [model]=model [level]=0></leaderboard>
    </mat-tab>
    <mat-tab label="Normal">
      <leaderboard  [commands]="commands" [model]=model [level]=1></leaderboard>
    </mat-tab>
    <mat-tab label="Hard">
      <leaderboard [commands]="commands" [model]=model [level]=2></leaderboard>
    </mat-tab>
    <mat-tab label="Extreme">
      <leaderboard  [commands]="commands" [model]=model [level]=3></leaderboard>
    </mat-tab>
    <mat-tab label="Crazy">
      <leaderboard [commands]="commands" [model]=model [level]=4></leaderboard>
    </mat-tab>
  </mat-tab-group>


  <mat-toolbar id=footer>
    <h1>RobertOs</h1>
  </mat-toolbar>
</body>
