#right {
  position: absolute;
  right: 2%;
}

span {
  color: red;
}

a {
  text-decoration: none;
}

#footer {
  position: absolute;
  bottom: 0;
}

.turn:hover {
  transform: scale(1.01);
  transform: rotate(180deg)
}

.example-spacer {
  flex: 1 1 auto;
}

#barTop, #footer {
  background-color: rgb(72, 133, 212);
  align-items: baseline;
  position: absolute;
}

#barTop {
  min-height: 5vh;
}

h1 {
  color: white;
  padding: 1vh;
  font-size: 30pt;
}

.footerSpace{
  margin-top: 1.5vh;
}

h2 {
  margin-left: 43%;
  margin-top: 5px;
  font-size: 20pt;
  color: white;
}

#footer h1#logo::before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Unofficial_Windows_logo_variant_-_2002%E2%80%932012_%28Multicolored%29.svg/1200px-Unofficial_Windows_logo_variant_-_2002%E2%80%932012_%28Multicolored%29.svg.png");
  background-size: 32px 32px;
  display: inline-block;
  width: 32px;
  height: 32px;
  content: "";
  margin-right: 1vw;
}

#tabs {
  padding-top: 5vh;
}

body {
  overflow: hidden;
  background-image: url("http://wallpoper.com/images/00/24/29/17/clouds-grass_00242917.jpg");
  background-size: cover;
}

leaderboard {
  min-height: 100vh;
  display: block;
}

button {
  background-color: transparent;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: large;
  max-width: 5.5vw;
  min-width: 5.5vw;
  max-height:5.5vw;
  min-height: 5.5vw;
  align-items: centers;
  font-size:40px;
  border:none;
}

button:hover{
  background-color: rgba(64, 224, 208, 0.2);
}
button::after{
  display: block;
  font-size: 14pt;
  color: black;

}

/***BUTTON 1**/
#btn1::after {
  content: "Level 1";
 }
 /***BUTTON 2**/
 #btn2::after {
   content: "Level 2";
  }
  /***BUTTON 3**/
 #btn3::after {
   content: "Level 3";
  }
  /***BUTTON 4**/
 #btn4::after {
   content: "Level 4";
  }
  /***BUTTON 5**/
 #btn5::after {
   content: "Level 5";
  }
/***BUTTON 6**/
 #btn6::after {
  content: "Wetter";
 }
 /***BUTTON 6**/
 #btn7::after {
  content: "Moodle";
 }
 #btn8::after {
  content: "Amazon";
 }

#btnContainer{
  position: absolute;
  max-width: 20vw;
}


iframe{
  margin-top: 20px;
  position: absolute;
  min-width: 35vw;
  min-height: 45vh;
  border:none;
  pointer-events: none;
}

#bar{
  z-index: 100;
  max-width: 30vw;
  min-width: 30vw;
  height: 20px;
  background-color: #d5d5d5;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}


.dots-container {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
}
.dots-container .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 7px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
  background-color: white;
}
.dots-container .dot:first-child {
  background-color: #ff6057;
}
.dots-container .dot:not(:first-child):not(:last-child) {
  background-color: #ffc22e;
}
.dots-container .dot:last-child {
  background-color: #28ca40;
}

.dots-container::before {
  position: absolute;
  left: 0;
  width: 90%;
  text-align: right;
  color: rgb(0, 0, 0);
}

.dots-container#main::before {
  content: "Leaderboard.js";
}
