<div id=center>
  <div class=console cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle [cdkDragFreeDragPosition]="mainPos">

    <p id=head>Leaderboard : {{getCurrentLevelName()}}</p>
    <div id=scroll>
    <p *ngFor="let user of model;let i=index">
      #{{i+1 }} {{user.name +" :"+user.score}}
    </p>

    <div class=dots-container id=main  >
      <div class=dot></div>
      <div class=dot></div>
      <div class=dot></div>
    </div>
    </div>
  </div>
</div>

<div id=center>
  <div class=console  cdkDrag [cdkDragFreeDragPosition]="comPos">
    <pre *ngFor="let command of commands">{{command}}</pre>
    <div class="cursor">
      <input type="text" class="rq-form-element" [(ngModel)]="userCommand" (keyup.enter)="addCommand()" />
      <i></i>
      </div>

    <div class=dots-container id=command >
      <div class=dot></div>
      <div class=dot></div>
      <div class=dot></div>
    </div>
  </div>

</div>

