<div id=center>
  <div class=console>
    <p id=head>Leaderboard : {{getCurrentLevelName()}}</p>

    <p *ngFor="let user of model;let i=index">
      #{{i+1 }} {{user.name +" :"+user.score*(level+1)}}
    </p>

    <div class=dots-container>
      <div class=dot></div>
      <div class=dot></div>
      <div class=dot></div>
    </div>
  </div>
</div>

<div id=center>
  <div class=console >
    <p *ngFor="let command of commands">{{command}}</p>

    <div class=dots-container>
      <div class=dot></div>
      <div class=dot></div>
      <div class=dot></div>
    </div>
  </div>
</div>
